:root {
  --primary-color: #1c7fff;
  --secondary-color: #00439a;
  --background-color: #f0f2f5;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--primary-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-color);
}

.navbar .navbar-nav a {
  color: var(--secondary-color);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary-color);
  font-weight: 800;
  transition: 0.3s;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.navbar .navbar-nav a:hover::after {
  width: 100%;
}

.navbar .navbar-extra a {
  color: var(--primary-color);
  margin: 0.5px;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

.navbar .navbar-extra .btn-login {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
}

.navbar .navbar-extra .btn-login:hover {
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: #00439a 0px 2px 4px;
  transition: 0.3s;
}

#hamburger {
  display: none;
}

/* End Navbar */

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right;
  padding: 0 7%;
}

.hero .content {
  max-width: 34rem;
}

.hero .content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: var(--background-color) 2px 2px 4px;
  color: var(--primary-color);
}

.hero .content span {
  font-size: 1.15rem;
  font-weight: 500;
  color: #177cffcf;
  line-height: 1.5;
  font-style: italic;
}

.hero .content p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  padding: 2rem;
  line-height: 1.5;
  color: var(--secondary-color);
  border: var(--background-color) 1px solid;
  border-radius: 70px;
  box-shadow: var(--background-color) 0px 2px 4px;
}

.cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
}

.cta:hover {
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: var(--secondary-color) 0px 2px 4px;
  transition: 0.3s;
}

/* End Hero Section */

/* About Section */
.about {
  margin: auto;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  box-shadow: var(--background-color) 20px 0px 10px;
  padding: 5px;
}

p {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
}

.about-box {
  margin-top: 12px;
  padding: 3px;
  background-size: 100%;
  box-shadow: var(--background-color) 0px 0px 10px;
}

.about-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.about-text {
  flex-basis: 50%;
  background: white;
  box-shadow: var(--primary-color) 0px 0px 5px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 5%;
  padding: 20px 15px;
  box-sizing: border-box;
}

.about-text:hover {
  box-shadow: #00439a 0px 5px 10px;
  transform: translateY(-3px);
}

/*Media Query*/

/*Mobile*/
@media (max-width: 710px) {
  html {
    font-size: 60%px;
  }

  #hamburger {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a:hover::after {
    width: 15%;
  }
}

/*Tablet*/
@media (max-width: 991px) {
  html {
    font-size: 90%;
  }
}

/*Desktop*/
@media (min-width: 1200px) {
  html {
    font-size: 130%px;
  }
}
