:root {
  --primary-color: #1c7fff;
  --secondary-color: #00439a;
  --background-color: #f0f2f5;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  background: none;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--secondary-color);
  font-size: 12pt;
  text-align: center;
}

.container {
  display: flex;
  min-height: 100vh;
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: right;
  background-size: 65%;
  background-repeat: no-repeat;
}

.login-left {
  box-sizing: border-box;
  width: max(40%, 300px);
  height: 100vh;
  background-color: rgba(236, 246, 253, 0.521);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 50px;
  color: #006effe7;
  text-shadow: rgb(218, 234, 255) 0px 2px 20px;
  border-bottom: #0e46ff 2px solid;
}

.input-group {
  display: flex;
  align-items: center;
  background: rgba(128, 187, 255, 0.139);
  border: #005bd1 1.5px solid;
  border-bottom: #005bd1 2px solid;
  box-shadow: 0 4px 6px rgba(0, 60, 255, 0.119);
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 350px;
}

form label {
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-shrink: 0;
}

form input {
  flex: 1;
  padding: 12px 15px;
  color: var(--primary-color);
  font-size: 1rem;
}

form input::placeholder {
  color: var(--secondary-color);
}

.login-btn {
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: white;
  border: rgba(0, 60, 255, 0.427) 1px solid;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  text-shadow: #c7deff 0px 0px 10px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 6px rgba(0, 60, 255, 0.119);
  transition: 0.3s;
}

.login-btn:hover {
  background-color: var(--secondary-color);
}

.logo a {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  right: 0;
  z-index: 9999;
  font-size: 1.5rem;
  font-weight: 900;
}

.social-login {
  margin-top: 20px;
  justify-content: space-between;
  padding: 10px;
}

.social-login i {
  color: var(--secondary-color);
}

.container p {
  margin-top: 30px;
  font-size: medium;
  font-weight: 500;
  color: var(--secondary-color);
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s ease;
  background-color: var(--secondary-color);
}

.social-btn:hover {
  background-color: var(--primary-color);
  color: white;
  transform: translateY(-3px);
}

.social-btn i {
  width: 20px;
  height: 20px;
}

.register-link {
  font-size: 0.9rem;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.register-link a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
